body {
    font-size: large;
    background-color: antiquewhite;
    margin: 0;
}

.dogs-list {
    width: 75%;
    border-collapse: collapse;
}

.dogs-list-body-row td {
  padding: 5px;
  padding-right: 10px;
  border: 1px solid black;
}

.dogs-list-header-row th {
  padding: 10px;
  border: 1px solid black;
  background-color: azure;
}

.create-button {
    position: relative;
    left: 60%;
    bottom: 30px;
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background: #0B63F6;
    width: 10%;
    padding: 10px;
}

.create-button:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #3C82F8;
}

.dogs-list {
    background-color:antiquewhite;
}

.more-button {
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;
    margin-bottom: 5px;
}

.more-button:hover {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 5px;
}

.full-card {
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    margin: auto;
    width: fit-content;
    border: 2px solid black;
}

.dog-card {
    display: flex;
    max-width: 700px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: auto;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10%;
    overflow: hidden;
}

.dog-card-photo {
    width: 50%;
    flex-grow: 1;
}

.dog-card-fields {
    flex-grow: 1;
    border-collapse: collapse;
}

.dog-card-row th {
    border: 1px solid black;
    background-color: darkseagreen;
}

.dog-card-row td {
    border: 1px solid black;
    background-color: azure;
}

.div-for-buttons {
    display: flex;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: auto;
    justify-content: center;
    width: 55%;
    height: 60px;
    justify-content: space-between;
    border-radius: 10%;
}

.return-button {
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background-color: gray;
    width: 30%;
}

.update-button {
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background-color:coral;
    width: 30%;
}

.delete-button {
    border-radius: 10px;
    color: white;
    transition: .2s linear;
    background-color:red;
    width: 30%;
}

.div-for-buttons button:hover {
    -webkit-transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
}

.create-dog-form {
    width: 300px;
    margin: 20px auto;
    background-color: #f5f5f5;
    border-radius: 5px;
    font-size: 16px;
    border: 3px solid black;
}

.input-field {
   display: flex;
   justify-content: flex-end;
   padding: 8px;
}

.input-field label {
    padding: 8px 16px 8px 0;
    flex: 1;
}

.input-field input {
    padding: 8px;
    flex: 2;
}

.send-dog-button {
    background: #808080;
    color: #fff;
    border: 5px;
    padding: 8px;
}

.send-dog-button:hover {
    box-shadow: #003CC5 0 0px 0px 40px inset;
}

