body {
    font-size: large;
    background-color: antiquewhite;
}

.dogs-list {
    width: 75%;
    border-collapse: collapse;
}

.dogs-list-body-row td {
  padding: 5px;
  padding-right: 10px;
  border: 1px solid black;
}

.dogs-list-header-row th {
  padding: 10px;
  border: 1px solid black;
  background-color: azure;
}

.dogs-list {
    background-color:antiquewhite;
}

.more-button {
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;
    margin-bottom: 5px;
}

.more-button:hover {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 5px;
}

.dog-card {
    display: flex;
    max-width: 700px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: auto;
    justify-content: center;
    border: 5px solid black;
    border-radius: 5%;
    overflow: hidden;
}

.dog-card-photo {
    width: 50%;
    flex-grow: 1;
}

.dog-card-fields {
    flex-grow: 1;
    border-collapse: collapse;
}

.dog-card-row th {
    border: 1px solid black;
    background-color: darkseagreen;
}

.dog-card-row td {
    border: 1px solid black;
    background-color: azure;
}